.back {
    width: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}

.back:hover {
    background-color: whitesmoke;
}

.add-inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

h3 {
    font-weight: 300;
}

form {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    width: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

label {
    font-weight: 600;
}

input, textarea, select {
    margin-bottom: 10px;
    min-width: 400px;
    padding: 8px 15px;
    border: 1px solid gray;
    outline: none;
}

textarea {
    resize: none;
}
.action-controls {
    display: flex;
    justify-content: space-between;
}

.reset, .save {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save {
    background-color: brown;
    color: #fff;
}

.reset {
    background: transparent;
    border: 1px solid red;
    color: red;
}

.control-error {
    color: red;
    margin-top: -8px;
    margin-bottom: 5px;
    font-size: small;
    text-align: right;
}