.toast {
    position: fixed;
    top: 0;
    right: -500px;
    width: 300px;
    height: fit-content;
    background: #fff;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 1050;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toast.success {
    right: 10px;
    border-left: 10px solid green;
}

.toast.error {
    right: 0;
    border-left: 10px solid red;
}

.toast button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    color: red;
    background-color: whitesmoke;
    cursor: pointer;
}