.view-inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-weight: 200;
}

.items {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    min-width: 400px;
}

.view-group {
    margin-top: 10px;
}

.view-group label {
    font-weight: bold;
}

.view-group p {
    font-size: 24px;
    font-weight: 100;
}

.edit {
    align-self: flex-end;
    border: none;
    border-radius: 4px;
    padding: 10px;
    background-color: green;
    color: whitesmoke;
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}