<section class="inventory-container">
    <div class="grid">
        <table class="inventory">
            <thead>
                <th>Create Date</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action</th>
            </thead>

            <tr>
                <td>10-09-2025</td>
                <td>Jiksu Motor</td>
                <td>This is a motor</td>
                <td>Engine</td>
                <td>Available</td>
                <td>$1500</td>
                <td>
                    <div class="action">
                        <a href="#">View</a> |
                        <a href="#">Edit</a> |
                        <a href="#">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>10-09-2025</td>
                <td>Jiksu Motor</td>
                <td>This is a motor</td>
                <td>Engine</td>
                <td>Available</td>
                <td>$1500</td>
                <td>
                    <div class="action">
                        <a href="#">View</a> |
                        <a href="#">Edit</a> |
                        <a href="#">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>10-09-2025</td>
                <td>Jiksu Motor</td>
                <td>This is a motor</td>
                <td>Engine</td>
                <td>Available</td>
                <td>$1500</td>
                <td>
                    <div class="action">
                        <a href="#">View</a> |
                        <a href="#">Edit</a> |
                        <a href="#">Delete</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>10-09-2025</td>
                <td>Jiksu Motor</td>
                <td>This is a motor</td>
                <td>Engine</td>
                <td>Available</td>
                <td>$1500</td>
                <td>
                    <div class="action">
                        <a href="#">View</a> |
                        <a href="#">Edit</a> |
                        <a href="#">Delete</a>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</section>