<section class="inventory-container">
    <div class="grid">
        <table class="inventory">
            <thead>
                <th>Create Date</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action</th>
            </thead>
            @for (inv of inventory(); track inv.id) {
                <tr>
                <td>{{ inv.createDate }}</td>
                <td>{{ inv.name }}</td>
                <td>{{ inv.description }}</td>
                <td>{{ inv.category }}</td>
                <td>{{ inv.status }}</td>
                <td>{{ inv.price }}</td>
                <td>
                    <div class="action">
                        <a>View</a> |
                        <a (click)="onInventoryEdit(inv.id)">Edit</a> |
                        <a>Delete</a>
                    </div>
                </td>
            </tr>
            }
            

        </table>
    </div>
</section>